@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    
}
body{
    max-width: 800px;
    height: 833px;
    font-family: "Orbitron";
    background: linear-gradient(to right, rgba(0, 229, 236, 0.979),rgb(89, 248, 129));
    background-repeat: no-repeat  ;
    background-size: cover ;
    background-position: center center;
    background-image: url(../imagens/FUNDO.jpg);
}   
header{
    width: 900px;
    height: 70px;
    margin: 19px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.NavBar{
    display: flex;
    gap: 100px;
}
.i1, .i2, .i3{
    border: 1px solid black;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    text-align: center;
    list-style: none;
    font-size: 24px;
    background: white;
    color: black;
}
.i1:hover, .i2:hover , .i3:hover{
    background: rgba(255, 254, 254, 0.397);
}
main{
    position: relative;
    text-align: center;
    left: 200px;
}
a{
    text-decoration: none;
}
footer{
    border-bottom: 1px solid black;
    position: relative;
    top: 200px;
    left: 200px;
}